body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}

.container{
	margin:0 auto;
	width:960px;
}

/* hover animation ***/
img:hover{
	transition:0.8s linear;
	transform:scale(1.5);
}
/* used for profile page */
#profile-col{
	display: block;
	position: relative;
	width: relative;
	margin: 10px 10px 10px 10px;
	background-color: white;
	border-radius: 2%;
	border: 0.1px solid #000;
	z-index: 10;
}
#line-draw{
	border: 0.01px solid #000;
	z-index: 1;
}
/* This is for increasing the icon size*/
.glyphicon {
  		font-size: 20px;
}
