{% extends "layout.html" %}
{% block title %}Classes{% endblock %}
{% block style %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">{% endblock %}
{% block navbarlogin %}
<div class="container">
    <div class="navbar-left">
	   	<a class="navbar-brand" href="{{url_for('site.profile_page')}}"><span class="glyphicon glyphicon-home"></span></a>
	   	<a class="navbar-brand" href="{{url_for('site.search')}}"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    <div class="navbar-default">
	   	<a class="navbar-brand" href="{{url_for('site.classes')}}" style="margin-left: 50px"><span class="glyphicon glyphicon-book"></span> Lectures</a>
	   	<a class="navbar-brand" href="{{url_for('site.student_branches')}}"><span class="glyphicon glyphicon-send"></span> Student Branches</a>
	   	<a class="navbar-brand" href="{{url_for('site.faculty')}}"><span class="glyphicon glyphicon-briefcase"></span> Departments</a>
	   	<a class="navbar-brand" href="{{url_for('lostfound_page')}}"><span class="glyphicon glyphicon-sort"></span> Lost/Found</a>
    </div>
   	<div class="navbar-right">
	   	<a class="navbar-brand" href="{{url_for('settings_page')}}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
	   	<a class="navbar-brand" href="{{url_for('logout')}}"><span class="glyphicon glyphicon-off"></span> Log out</a>
	</div>
</div>
{% endblock %}
{% block content %}

<style>
#classes-col{
	display: block;
	position: relative;
	width: relative;
	margin: 10px 10px 10px 10px;
	background-color: white;
	border-radius: 1.5%;
	border: 0.1px solid #000;
	z-index: 10;
}
#line-draw{
	border: 0.01px solid #000;
	z-index: 1;
}
</style>

<br>
<div class="container">
	<div class="row" >


		<div style="text-align:center">
			<div class="col-md-3">
			<div style="margin: 10px 10px 60px 50px">
			<h2>Edit Classes</h2>
				<form action="" method="post">
						<div class="form-group" align="center">
		    				<input type="text" name="CRN" placeholder="CRN" class="form-control" required autofocus>
		    			</div>

		    			<div style="margin: 10px 10px 60px 10px">
						<button class="glyphicon btn btn-success btn"
							type="submit" name="action" value="enter" style= "margin: 2px 23px">Enter in a class</button>

						<button class="glyphicon btn btn-success btn"
							type="submit" name="action" value="leave" style= "margin: 20px 33px">Leave a class</button>
						</div>
				</form>

				<form action="" method="post">
						<div class="form-group" align="center">
		    				<input type="text" name="oldCRN" placeholder="Old CRN" class="form-control" required autofocus>
		    			</div>

		    			<div class="form-group" align="center">
		    				<input type="text" name="newCRN" placeholder="New CRN" class="form-control" required autofocus>
		    			</div>

		    			<div style="margin: 10px 10px 60px 10px">
						<button class="glyphicon btn btn-success btn"
							type="submit" name="action" value="updateClass" style= "margin: 2px 23px">Leave&Add a class</button>
						</div>
				</form>

				</div>
			</div>
		</div>


		<div class="col-md-5" >
		<div style="margin: 50px 40px">
			<div id="classes-col" >
					<h1 align="center">My Classes</h1>
					{% if lectures %}
					{% for lecture in lectures %}
					<a href="{{url_for('site.lecture_cfg', lectureid = lecture[0])}}" class="" style= "font-size: 15px">
	         				<li>{{lecture[0]}} - {{lecture[1]}}</li></a>
					{% endfor %}
					{% endif %}
					<br>
				</div>
			</div>
		</div>

		<div style="text-align:center">
			<div class="col-md-3">
			<div style="margin: 10px 10px 60px 50px">
			<h2>Edit CRNs</h2>
				<form action="" method="post">
				<div style="margin: 10px 10px 10px 10px">
						<div class="form-group" align="center">
		    				<input type="number" name="CRN" placeholder="CRN" class="form-control" required autofocus>
		    			</div>
		    			<div class="form-group" align="center">
		    				<input type="text" name="lecture" placeholder="Lecture Name" class="form-control" required autofocus>
		    			</div>
		    			<div class="form-group" align="center">
		    				<input type="text" name="lecturer" placeholder="Lecturer Name" class="form-control" required autofocus>
		    			</div>
</div>
						<button class="glyphicon btn btn-success btn"
							type="submit" name="action" value="add" style= "margin: 2px 18px">Add a new lecture</button>
</form>

					<div style="margin: 80px 10px 10px 10px">
					<form action="" method="post">
						<div style="margin: 10px 10px 10px 10px">
						<div class="form-group" align="center">
		    				<input type="number" name="CRN" placeholder="CRN" class="form-control" required autofocus>
		    			</div>
		    			</div>

						<button class="glyphicon btn btn-success btn"
							type="submit" name="action" value="delete" style= "margin: 2px 15px">Delete a lecture</button>
						</form>
						</div>

			<div style="margin: 80px 10px 60px 10px">
			<form action="" method="post">
					<div style="margin: 10px 10px 10px 10px">
						<div class="form-group" align="center">
		    				<input type="number" name="oldCRN" placeholder="CRN" class="form-control" required autofocus>
		    			</div>
		    			<div class="form-group" align="center">
		    				<input type="text" name="lecture" placeholder="New Lecture Name" class="form-control" required autofocus>
		    			</div>
		    			<div class="form-group" align="center">
		    				<input type="text" name="lecturer" placeholder="New Lecturer Name" class="form-control" required autofocus>
		    			</div>
					</div>

						<button class="glyphicon btn btn-success btn"
							type="submit" name="action" value="update" style= "margin: 2px 2px">Update a lecture's information</button>
						</form>
						</div>
				</div>
			</div>
		</div>

	</div>
</div>

				{% if message %}
					<font size="5"><p>{{message}}</p></font>
				{% endif %}

<div style="text-align:center">
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
</div>
{% endblock %}