{% extends "layout.html" %}
{% block title %}Faculties/Departments{% endblock %}
{% block navbarlogin %}
      <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign up</a>
          	<a class="btn btn-primary" href="{{ url_for('forgotten_password') }}">Forgotten password ?</a>
          </form>
        </div>
{% endblock %}

{% block content %}


      <div align="center" >
<br>
<br>
<br>


       <h2> Select your Faculty:</h2>
<br>
</div>

<form class="form-signin" >
	<label>
    <input type="radio" name="department" value="in"    >Civil Engineering <br>
	<input type="radio" name="department" value="mm"    >Architecture <br>
    <input type="radio" name="department" value="mk"    >Mechanical Engineering<br>
    <input type="radio" name="department" value="ee"    >Electrical-Electronics Engineering <br>
    <input type="radio" name="department" value="md"    >Mining<br>
    <input type="radio" name="department" value="km"    >Chemical and Metallurgical Engineering  <br>
    <input type="radio" name="department" value="is"    >Management <br>
    <input type="radio" name="department" value="gd"    >Naval Architecture and Ocean Eng.<br>
    <input type="radio" name="department" value="fe"    >Science and Letters <br>
    <input type="radio" name="department" value="uu"    >Aeronautics an Astronautics Engineering <br>
    <input type="radio" name="department" value="ko"    >Turkish Music State Conservator <br>
    <input type="radio" name="department" value="dz"    >Maritime Faculty <br>
    <input type="radio" name="department" value="tk"    >Textile Technologies and Design <br>
    <input type="radio" name="department" value="bb"    >Computer and Informatics <br>
	</label>

	<br>
	<a class="btn btn-primary" >Check!</a>

</form>




{% endblock %}