{% extends "layout.html" %}
{% block title %}Faculties/Departments{% endblock %}
{% block navbarlogin %}
      <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign up</a>
          	<a class="btn btn-primary" href="{{ url_for('forgotten_password') }}">Forgotten password ?</a>
          </form>
        </div>
{% endblock %}

{% block content %}

      <div class="container">
      <div align="center" >
<br>
<br>
<br>


       <h2> Select your Department:</h2>
<br>

 <form class="form-signin">
     <input type="text" id="department" class="form-control" placeholder="Your Department"   >

<br>
		<a class="btn btn-primary" >Check!</a>
</form>
</div>
</div>

{% endblock %}