{% extends "layout2.html" %}
{% block title %}Faculty{% endblock %}
{% block style %}{% endblock %}
{% block content %}

<div class="container">
<div class="row">
		<div style="margin-top: 100px" align="center">
		<div class="col-md-4">
		<!-- This is for sending post -->
			<div id="profile-col">
				<div style="margin: 10px 10px 30px 10px">
					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>{{ user.fullName }}</b></font>
						<p><em>@{{ user.userName}}</em></p>
					</div>
					<br>
					<form action="" method="post">
						<div class="form-group" align="center">
		    				<input type="text" name="postContent" placeholder="Write to your faculty friends..." class="form-control" required autofocus>
		    			</div>
						<button class="glyphicon glyphicon-pencil pull-right btn btn-success btn"
						type="submit" name="action" value="sendPost">Send a post</button>

					</form>
	    			<br>
				</div>
			</div>
   			<!-- end of the sending post part-->
   			<br>
   			<!-- This is one post -->
   			{% if posts %}
   			<div id="profile-col">
			{% for post in posts %}
	   				<div style="margin: 30px 30px 40px 10px">

	   					<br>
						<div style=display:inline-block>
							<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>

							<font size="5"><b>{{ post[0][0] }}</b></font>

							<p><em>@{{ post[0][1]}}</em></p>
						</div>

						<div>
		    				<pre>{{ post[0][2] }} </pre>
		    			</div>

		    			<div class="pull-right">
		    				<!-- This part will have icons in it such as like icon -->
		    				<button class="glyphicon glyphicon-heart btn"
							type="submit" name="action" value="likePressed" style= "margin-right: 10px"> 0</button>
		    				<a href="{{url_for('site.post_cfg', postid = post[0][3] )}}" class="btn-info btn" style= "font-size: 0px">
	         						<span class="glyphicon glyphicon-tasks"></span>
	       					</a>
		    			</div>
		    			<br>
   				</div>
   				<div id="line-draw"></div>

				{% endfor %}
			</div>
	   		{% endif %}
			 <!-- end of the post -->
</div>
		</div>

		<div class="col-md-2">
			<form class="" action="" method="post">
				<h3>Add Faculty to User</h3>

				<label for="selectFaculty" class="sr-only">SelectFaculty</label>
				<select name ="selectFaculty" class="form-control" >
				<option selected disabled>Choose your Faculty</option>
				<option value ="01" > Faculty of Civil Engineering </option>
				<option value ="02" >Faculty of Architecture</option>
				<option value ="03" >Faculty of Mechanical Engineering</option>
				<option value ="04" >Faculty of Electrical and Electronics Engineering</option>
				<option value ="05" >Faculty of Mines</option>
				<option value ="06" >Faculty of Chemical and Metallurgical Engineering</option>
				<option value ="07" > Faculty of Management </option>
				<option value ="08" >Faculty of Naval Architecture and Ocean Engineering</option>
				<option value ="09" > Faculty of Science and Letters </option>
				<option value ="10" >Faculty of Aeronautics and Astronautics</option>
				<option value ="11" > Turkish Music State Conservatory </option>
				<option value ="12" >Maritime Faculty</option>
				<option value ="13" >Faculty of Textile Technologies and Design</option>
				<option value ="15" >Faculty of Computer and Informatics</option>
				</select>
				<button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="addFaculty">Save</button>
			</form>
			<br>
			{% if resultInsert %}
			<p>You added your faculty succesfully </p>
			{% endif %}
</div>
		<div class="col-md-2">

         			<form class="" action="" method="post">
				<h3>Update My Faculty</h3>

				<select name ="selectFaculty" class="form-control" >
				<option selected disabled>Select your new Faculty</option>
				<option value ="01" > Faculty of Civil Engineering </option>
				<option value ="02" >Faculty of Architecture</option>
				<option value ="03" >Faculty of Mechanical Engineering</option>
				<option value ="04" >Faculty of Electrical and Electronics Engineering</option>
				<option value ="05" >Faculty of Mines</option>
				<option value ="06" >Faculty of Chemical and Metallurgical Engineering</option>
				<option value ="07" > Faculty of Management </option>
				<option value ="08" >Faculty of Naval Architecture and Ocean Engineering</option>
				<option value ="09" > Faculty of Science and Letters </option>
				<option value ="10" >Faculty of Aeronautics and Astronautics</option>
				<option value ="11" > Turkish Music State Conservatory </option>
				<option value ="12" >Maritime Faculty</option>
				<option value ="13" >Faculty of Textile Technologies and Design</option>
				<option value ="15" >Faculty of Computer and Informatics</option>
				</select>
				<button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="updateFaculty">Change</button>
			</form>
			<br>
			{% if resultUpdate %}
			<p>Your faculty has been Updated Succesfully </p>
			{% endif %}

		</div>


<br>
<br>
<br>
		<div class="col-md-2">

			<form class="" action="" method="post">
				<h3>Search Faculty</h3>

				<button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="searchFaculty">Search</button>
			</form>

<br>


			{% if resultSearch %}
			<p>Username: {{ resultSearch[0][0] }}</p>
			<p>Faculty : {{faculty[0][0]}}</p>

			{% endif %}

</div>



<div class="col-md-2">
			<form class="" action="" method="post">
				<h3>Delete Faculty</h3>

				<button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="deleteFaculty">Delete</button>
			</form>

<br>
			{% if resultDelete %}
			<p>Delete Operation Completed Succesfully </p>
			{% endif %}



</div>

	</div>
	</div>







{% endblock %}