{% extends "layout2.html" %}
{% block title %}Follow{% endblock %}
{% block style %}{% endblock %}
{% block content %}

<div class="container">
	<div class="row" style="margin: 10px 10px 10px 10px">
		<div class= "col-md-6" >
			<div id="profile-col">
				<div style="margin: 10px 10px 30px 10px" align="center">
					{% if followers %}
						<h1> Followers </h1>
						{% for follower in followers %}
						<br>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded"
						height="150px" width= "150px"/>
						<font size="5"><b></b></font>
						<form action="" method="post">
		    			<p>{{ follower[0][0]}}</p>
		    			<div class="form-group" align="center">
							<p><em>@{{ follower[0][1]}}</em></p>
		    			</div>
						<p>{{follower[0][4]}}</p>
						{% endfor %}
					{% else %}
						<p> Follower list is empty! </p>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div id="profile-col">
				<div style="margin: 10px 10px 30px 10px" align="center">
					{% if followings %}
						<h1> Following </h1>
						{% for following in followings %}
						<br>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded"
						height="150px" width= "150px"/>
						<font size="5"><b></b></font>
		    			<p>{{ following[0][0]}}</p>
		    			<div class="form-group" align="center">
							<p><em>@{{ following[0][1]}}</em></p>
		    			</div>
						<p>{{following[0][4]}}</p>
						{% endfor %}
					{% else %}
						<p> Following list is empty! </p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}