{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block navbarlogin %}
      <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" method="post">

	            <div class="form-group">
	            	<label for="inputEmail" class="sr-only">Email address</label>
	        		<input type="email" name="inputEmail" class="form-control" placeholder="Email address" required>
	            </div>
	            <div class="form-group">
	            	<label for="inputPassword" class="sr-only">Password</label>
	        		<input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
	            </div>

            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign up</a>
          	<a class="btn btn-primary" href="{{ url_for('forgotten_password') }}">Forgotten account ?</a>
          </form>
        </div>
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, ITU!</h1>
        <p>This is a template for your new communication platform. Get ready for an excellent experience!</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('about_page') }}" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Hot Titles</h2>
          <p>Find what everyone's talking about.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>What's going on in the campus?</h2>
          <p>Learn what happened in the campus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Lost and Found</h2>
          <p>Are you looking for someone to help you for lectures or something else? Or simply found/lost a student card etc.?</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

	  <div class="row">
        <div class="col-md-4">
          <h2>Lectures/Classes</h2>
          <p>Find your classmates and be aware of everything about the lectures!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Student Branches</h2>
          <p>Want to start a new hobby? Missed the meetings? Or are you someone who is in charge of a student branch? It's the right place to communicate with your members and get in touch with the new branches!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Faculties/Departments</h2>
          <p>Learn more about your department, get help from the ones who passed that class already and find new friends from your faculty!</p>
          <p><a class="btn btn-default" href="{{ url_for('departments') }}" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
{% endblock %}