{% extends "layout2.html" %}
{% block title %}Lecture{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<br>
<div class="container">
	<div class="row" >
		<div class="col-md-3" >
			<div id="profile-col" >
				<div style="margin: 10px 10px 50px 10px">
					<h1 align="center">Lecture</h1>
						<p>CRN: {{lecture[0][0]}}</p>
						<p>Lecture Name: {{lecture[0][1]}}</p>
						<p>Lecturer Name: {{lecture[0][2]}}</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<br>
   			<!-- This is one post -->

   			<div id="profile-col">
   				<div style="margin: 40px 10px 50px 10px">
	   				<form action="" method="post">
						<div class="form-group" align="center">
			   				<input type="text" name="postContent" placeholder="What's happening?" class="form-control" required autofocus>
			   			</div>
						<button class="glyphicon glyphicon-pencil pull-right btn btn-success btn"
						type="submit" name="action" value="sendPost">Send a post</button>
					</form>
   				{% if posts %}
   				{% for post in posts %}
	   					<br>
						<div style=display:inline-block>
							<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>
							<font size="5"><b>#{{lectures[0][1]}}</b></font>
							<p><em>@{{ post[0][1]}}</em></p>
						</div>

						<div>
		    				<pre>{{ post[0][2] }} </pre>
		    			</div>

		    			<div class="pull-right">
		    				<!-- This part will have icons in it such as like icon -->
		    				<button class="glyphicon glyphicon-heart btn"
							type="submit" name="action" value="likePressed" style= "margin-right: 10px"> {{ post[0][3] }}</button>
		    				<a href="{{url_for('site.post_cfg', postid = post[0][0] )}}" class="btn-info btn" style= "font-size: 0px">
	         						<span class="glyphicon glyphicon-tasks"></span>
	       					</a>

		    			</div>
		    			<br>
   				{% endfor %}
				{% endif %}
				</div>
			 <!-- end of the post -->
		</div>
		</div>
		<div class="col-md-3">
			<br>
			{% if lectures %}
			{% for lecture in lectures %}
			{% if user.userName == lecture[2] %}
			<div id="profile-col">
   				<div style="margin: 40px 10px 50px 10px">
   					<h1 align="center">Update Title</h1>
   					<form action="" method="post">
   					<input type="text" name="titleUpdate" placeholder="Update the title..." class="form-control" required autofocus>
					<br>
					<button class="glyphicon glyphicon-upload pull-left btn btn-info btn"
							type="submit" name="action" value="updateTitle"> Update</button>
					</form>
   				</div>
   			</div>
   			{% endif %}
   			{% endfor %}
   			{% endif %}
			</div>

			<div class="col-md-3">
				<div id="profile-col" >
					<h1 align="center">Class List</h1>
					{% if students %}
					{% for student in students %}
	         				<li>{{student[0]}}</li>
					{% endfor %}
					{% endif %}
					<br>
				</div>
				</div>
			</div>

	</div>
</div>
<br>

{% endblock %}