<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lectures/Classes</title>
</head>
<body>
	<h1>Lectures</h1>
		<p>Let's find your classes!</p>
		<p>Enter your CRNs:</p>
		<input type="number" placeholder="CRN1" class="form-control">
		<input type="number" placeholder="CRN2" class="form-control">
		<input type="number" placeholder="CRN3" class="form-control">
		<input type="number" placeholder="CRN4" class="form-control">
		<input type="number" placeholder="CRN5" class="form-control">
		<input type="number" placeholder="CRN6" class="form-control">
		<input type="number" placeholder="CRN7" class="form-control">
		<input type="number" placeholder="CRN8" class="form-control">
		<input type="number" placeholder="CRN9" class="form-control">
		<input type="number" placeholder="CRN10" class="form-control">
		<input type="number" placeholder="CRN11" class="form-control">
		<button type="submit" class="btn btn-success">Submit</button>
</body>
</html>