{% extends "layout.html" %}
{% block title %}Lectures/Classes{% endblock %}
{% block navbarlogin %}
      <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign up</a>
          	<a class="btn btn-primary" href="{{ url_for('forgotten_password') }}">Forgotten account ?</a>
          </form>
        </div>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Lectures</h1>
        <p>Enter the CRN information to register into your classes</p>
       </div>

<div class="container">
	<div align="center">
        <input type="number" placeholder="CRN1" class="form-control">
		<input type="number" placeholder="CRN2" class="form-control">
		<input type="number" placeholder="CRN3" class="form-control">
		<input type="number" placeholder="CRN4" class="form-control">
		<input type="number" placeholder="CRN5" class="form-control">
		<input type="number" placeholder="CRN6" class="form-control">
		<input type="number" placeholder="CRN7" class="form-control">
		<input type="number" placeholder="CRN8" class="form-control">
		<input type="number" placeholder="CRN9" class="form-control">
		<input type="number" placeholder="CRN10" class="form-control">
		<input type="number" placeholder="CRN11" class="form-control"></div>
		<div align="center"><a class="btn btn-primary" href="{{ url_for('signin') }}">Submit</a></div>
	</div>
</div>
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
{% endblock %}