{% extends "layout2.html" %}
{% block title %}Post{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<br>
<div class="container">
	<div class="row" >
		<div class="col-md-3" >
			<div id="profile-col" >
				<div style="margin: 10px 10px 30px 10px" align="center">
					<br>
					<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded"
					height="150px" width= "150px"/>
					<font size="5"><b>{{current_user.fullName}}</b></font>
					<p><em>@</em><em>{{current_user.userName}}</em></p>
					<p>Description of the user</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<br>
   			<!-- This is one post -->

   			<div id="profile-col">
   				{% if post %}
   				<div style="margin: 10px 30px 40px 10px">
   					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>{{fullname[0][0]}}</b></font>
						<p><em>@</em><em>{{post[0][1]}}</em></p>
					</div>
					<div>

	    				<p>{{post[0][2]}}</p>
	    			</div>
	    			<br>
   				</div>
   				{% if current_user.userName == post[0][1] %}
   				<div id="profile-col"></div>
   				<div style="margin: 10px 30px 40px 10px">
   					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>{{fullname[0][0]}}</b></font>
						<p><em>@</em><em>{{post[0][1]}}</em></p>
					</div>
					<form action="" method="post">
						<div class="form-group" align="center">
		    				<input type="text" name="postContent" placeholder="Enter the new content..." class="form-control" required autofocus>
		    			</div>
						<div class="pull-right">
		    				<!-- This part will have icons in it such as like icon -->
	       					<button class="glyphicon glyphicon-upload pull-right btn btn-info btn"
							type="submit" name="action" value="updatePost"> Update</button>
		    			</div>
	    			</form>
	    			<br>
   				</div>
   				<div id="profile-col"></div>
   				<div style="margin: 10px 30px 40px 10px">
   					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>{{fullname[0][0]}}</b></font>
						<p><em>@</em><em>{{post[0][1]}}</em></p>
					</div>
					<div>
	    				<p>{{post[0][2]}}</p>
	    			</div>
	    			<form action="" method="post">
					<div class="pull-right">
	    				<!-- This part will have icons in it such as like icon -->
	    				<button class="glyphicon glyphicon-trash pull-right btn btn-danger"
						type="submit" name="action" value="deletePost"> Delete</button>
	    			</div>
	    			</form>
	    			{% endif %}
	    			<br>
   				</div>
   				<div id="profile-col"></div>
   				<div style="margin: 10px 30px 40px 10px">
   					{% endif %}
					{% if message %}
					<font size="5"><p>{{message}}</p></font>
					{% endif %}
				</div>
	    		<br>
   			 </div>

			 <!-- end of the post -->
		</div>

		<div class="col-md-3">

		</div>
	</div>
</div>
<br>

{% endblock %}