{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block style %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">{% endblock %}
{% block navbarlogin %}
<div class="container">
    <div class="navbar-left">
	   	<a class="navbar-brand" href="{{url_for('profile_page')}}"><span class="glyphicon glyphicon-home"></span></a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-envelope"></span></a>
	   	<a class="navbar-brand" href="{{url_for('search')}}"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    <div class="navbar-default">
	   	<a class="navbar-brand" href="{{url_for('classes')}}" style="margin-left: 50px"><span class="glyphicon glyphicon-book"></span> Lectures</a>
	   	<a class="navbar-brand" href="{{url_for('student_branches')}}"><span class="glyphicon glyphicon-send"></span> Student Branch(es)</a>
	   	<a class="navbar-brand" href="{{url_for('department_page')}}"><span class="glyphicon glyphicon-briefcase"></span> Department(s)</a>
    </div>
   	<div class="navbar-right">
	   	<a class="navbar-brand" href="{{url_for('settings_page')}}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
	   	<a class="navbar-brand" href="{{url_for('home_page')}}"><span class="glyphicon glyphicon-off"></span> Log out</a>
	</div>
</div>
{% endblock %}
{% block content %}
<br>
<div class="container">
	<div class="row" >
		<div class="col-md-3" >
			<div id="profile-col" >
				<div style="margin: 10px 10px 30px 10px" align="center">
					<br>
					<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded"
					height="150px" width= "150px"/>
					<font size="5"><b>Full name</b></font>
					<p><em>@</em><em>Username</em></p>
					<p>Description of the user</p>
				</div>
			</div>

			<div id="profile-col" >
				<div style="margin: 10px 10px 30px 10px">
					<h1 align="center">Hot Titles</h1>
					<ol>
						<!-- Those needs to be clickable -->
						<li>beeHive is coming soon</li>
						<li>garbage title</li>
						<li>troll title</li>
					</ol>
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<br>
   			<!-- This is one post -->

   			<div id="profile-col">
   				{% if post %}
   				<div style="margin: 10px 30px 40px 10px">
   					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>Full name</b></font>
						<p><em>@</em><em>Username</em></p>
					</div>
					<div>

	    				<p>{{post[0][2]}}</p>
	    			</div>
	    			<br>
   				</div>
   				<div id="profile-col"></div>
   				<div style="margin: 10px 30px 40px 10px">
   					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>Full name</b></font>
						<p><em>@</em><em>Username</em></p>
					</div>
					<form action="" method="post">
						<div class="form-group" align="center">
		    				<input type="text" name="postContent" placeholder="Enter the new content..." class="form-control" required autofocus>
		    			</div>
						<div class="pull-right">
		    				<!-- This part will have icons in it such as like icon -->
	       					<button class="glyphicon glyphicon-upload pull-right btn btn-info btn"
							type="submit" name="action" value="updatePost"> Update</button>
		    			</div>
	    			</form>
	    			<br>
   				</div>
   				<div id="profile-col"></div>
   				<div style="margin: 10px 30px 40px 10px">
   					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>Full name</b></font>
						<p><em>@</em><em>Username</em></p>
					</div>
					<div>
	    				<p>{{post[0][2]}}</p>
	    			</div>
	    			<form action="" method="post">
					<div class="pull-right">
	    				<!-- This part will have icons in it such as like icon -->
	    				<button class="glyphicon glyphicon-trash pull-right btn btn-danger"
						type="submit" name="action" value="deletePost"> Delete</button>
	    			</div>
	    			</form>
	    			<br>
   				</div>
   				<div id="profile-col"></div>
   				<div style="margin: 10px 30px 40px 10px">
   					{% endif %}
					{% if message %}
					<font size="5"><p>{{message}}</p></font>
					{% endif %}
				</div>
	    		<br>
   			 </div>

			 <!-- end of the post -->
		</div>

		<div class="col-md-3">
			<div id="profile-col">
   				<div style="margin: 10px 10px 30px 10px">
	   					<h1 align="center">Lectures</h1>
							<ol>
								<!-- Those needs to be clickable -->
								<li>10078</li>
								<li>10932</li>
								<li>20321</li>
								<li>10311</li>
							</ol>
   				</div>
   			 </div>
   			 <div id="profile-col">
   				<div style="margin: 10px 10px 30px 10px">
   					<h1 align="center">Student Branches</h1>

					<!-- This is one gruop -->
					<!-- Needs to be clickable -->
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="3"><b>Student branch name</b></font>
						<p><em>@</em><em>admin</em></p>
					</div>
					<div>
	    				<p>Description of the group </p>
	    			</div>
	    			<!-- end of one gruop -->

	    			<!-- This is one gruop -->
	    			<!-- Needs to be clickable -->
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="3"><b>Student branch name</b></font>
						<p><em>@</em><em>admin</em></p>
					</div>
					<div>
	    				<p>Garbage text asfasfas </p>
	    			</div>
	    			<!-- end of one gruop -->
   				</div>
   			 </div>
		</div>
	</div>
</div>
<br>

{% endblock %}