{% extends "layout.html" %}

{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div align="left" class="container">
	<br>
	<br>
	<h1>
		<font color="#FF7F00">
			beeHive Privacy Policy
		</font>
	</h1>
	<br>
	Our Services aims on ITU members. They can instantly connect each other from everywhere. Any registered user of beeHive can send a post, which is public by default.
	<br>
	<br>
	<blockquote>
		<p>
			<font color="#FF7F00">
				What you share on beeHive may be viewed all around the world instantly!
			</font>
		</p>
	</blockquote>
	<br>
	This privacy policy describes how and when we collect, use and share your information.
	<br>
	<br>
	If you have any hesitations or comments about this privacy policy,
	please keep it yourself and don't disturb us, we try to work here!
	<br>
	<br>
	<blockquote>
		<p >
		<font color="#FF7F00">
			We do not disclose your private personal information except in the limited circumstances.
		</font>
		</p>
	</blockquote>
	<br>
	<br>
	Information Collection and Use:
	<br>
	We collect and use your information below to provide, understand, and improve our Services.
	<br>
	<br>
	Basic Account Information:
	<br>
	If you choose to create a beeHive account,
	you must provide us with some personal information,
	such as your name, username, password, email address. The information that you provided will
	be our little secret and it will not be share to third-party's.
	<br>
	<br>
	Contact Information:
	<br>
	If you give us your contact information, we can use
	this information. For example, we can send you an commercial SMS, mail, etc...
	<br>
	<br>
	To sum up, despite the other social media services we are a friendly organization.
	Your information will reveal only with your will. Your private information never be shared
	to the third party's.
	<br>
	<br>
	Changes to this Policy:
	<br>
	We may revise this Privacy Policy from time to time.
	If we make a change to this policy we will not notify you.
	By continuing to access or use the Services
	after those changes become effective, you agree to be bound by the revised
	Privacy Policy.
	<br>
	<br>
	Effective: October 17, 2016
	<br>
	<br>
	Write: "I have read and understand this agreement."
	<br>
	<br>
	<div class="form-group" align="center">
    	<input type="text" placeholder="I have..." class="form-control">
    </div>
	<a class="btn btn-primary" href="{{ url_for('signup') }}">Sign up now!</a>
</div>
{% endblock %}