{% extends "layout2.html" %}
{% block title %}Profile{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<!-- <body style="background-image: url('https://static.vecteezy.com/system/resources/premium_previews/000/057/904/non_2x/cartoon-bee-vector-pack.jpg')"> -->
<style>
#profile-col{
	display: block;
	position: relative;
	width: relative;
	margin: 10px 10px 10px 10px;
	background-color: white;
	border-radius: 1.5%;
	border: 0.1px solid #000;
	z-index: 10;
}
#line-draw{
	border: 0.01px solid #000;
	z-index: 1;
}
</style>
<br>
<div class="container">
	<div class="row" >
		<div class="col-md-3" >
			<div id="profile-col" >
				<div style="margin: 10px 10px 30px 10px" align="center">
					<br>
					<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded"
					height="150px" width= "150px"/>
					<font size="5"><b></b></font>
					<p>{{ user.fullName}}</p>
					<p><em>@{{ user.userName}}</em></p>
					{% if faculty %}
						{{faculty[0][0]}}
						<br>
						{% endif %}

					<p>{{user.description}}</p>
					<p><a href="{{url_for('site.follow_cfg')}}" class="" style= "font-size: 15px">
					Followers {{user.follower_count}}</a>  |
					<a href="{{url_for('site.follow_cfg')}}" class="" style= "font-size: 15px">
					Following {{user.following_count}}</a></p>
				</div>
			</div>

			<div id="profile-col" >
				<div style="margin: 10px 10px 60px 10px">
					<h1 align="center">Hot Titles</h1>
					{% if titles %}
					{% for title in titles %}
						<!-- Those needs to be clickable -->
						<a href="{{url_for('title_cfg', titleid = title[0] )}}" class="" style= "font-size: 15px">
	         				<li>{{title[1]}}</li>
	       				</a>
	       				<font size="2"><p><em>@{{title[2]}}</em></p></font>
					{% endfor %}
					{% endif %}
					<br>
					<form action="" method="post">
					<div class="form-group" align="center">
		    			<input type="text" name="titleContent" placeholder="New rumor?" class="form-control" required autofocus>
		    		</div>
					<button class="glyphicon glyphicon-pencil pull-right btn btn-success btn"
						type="submit" name="action" value="sendTitle">Create Topic</button>
					</form>
				</div>
			</div>

		</div>

		<div class="col-md-6">

			<!-- This is for sending post -->
			<div id="profile-col">
				<div style="margin: 10px 10px 30px 10px">
					<br>
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block>
						<font size="5"><b>{{ user.fullName }}</b></font>
						<p><em>@{{ user.userName}}</em></p>
					</div>
					<br>
					<form action="" method="post">
						<div class="form-group" align="center">
		    				<input type="text" name="postContent" placeholder="What to write today hmm..." class="form-control" required autofocus>
		    			</div>
						<button class="glyphicon glyphicon-pencil pull-right btn btn-success btn"
						type="submit" name="action" value="sendPost">Send a post</button>

					</form>
	    			<br>
				</div>
			</div>
   			<!-- end of the sending post part-->
			<br>
   			<!-- This is one post -->
   			{% if results %}
   			<div id="profile-col">
			{% for post in results %}
	   				<div style="margin: 30px 30px 40px 10px">

	   					<br>
						<div style=display:inline-block>
							<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>

							<font size="5"><b>{{ post[0][4] }}</b></font>

							<p><em>@{{ post[0][0]}}</em></p>
						</div>

						<div>
		    				<pre>{{ post[0][2] }} </pre>
		    			</div>

		    			<div class="pull-right">
		    				<!-- This part will have icons in it such as like icon -->
		    				<button class="glyphicon glyphicon-heart btn"
							type="submit" name="action" value="likePressed" style= "margin-right: 10px"> {{ post[0][3] }}</button>
		    				<a href="{{url_for('site.post_cfg', postid = post[0][1] )}}" class="btn-info btn" style= "font-size: 0px">
	         						<span class="glyphicon glyphicon-tasks"></span>
	       					</a>
		    			</div>
		    			<br>
   				</div>
   				<div id="line-draw"></div>
				{% endfor %}
	   		</div>
	   		{% endif %}
			 <!-- end of the post -->

		</div>


		<div class="col-md-3">
		{% if lectures %}
			<div id="profile-col">
   				<div style="margin: 10px 10px 30px 10px">
   				<h1 align="center">Lectures</h1>
							<ol>
								{% for lecture in lectures %}
										<a href="{{url_for('site.lecture_cfg', lectureid = lecture[0] )}}" class="" style= "font-size: 15px">
	         							<li>{{lecture[0]}}</li>
	       								</a>
								{% endfor %}
							</ol>
   				</div>
   			 </div>
   		{% endif %}

		{% if branches %}
   			 <div id="profile-col">
   				<div style="margin: 10px 10px 30px 10px">
   					<h1 align="center">Student Branches</h1>

					<!-- This is one gruop -->
					<!-- Needs to be clickable -->

					{% for branch in branches %}
					<div style=display:inline-block>
						<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
					</div>
					<div style=display:inline-block >
						<font size="3"><b>{{ branch[0][1] }}</b></font>
						<p><em>@{{ user.userName}}</em></p>
					</div>
					<div>
	    				<p>{{ branch[0][2] }}</p>
	    			</div>
	    			{% endfor %}

	    			<!-- end of one gruop -->
   				</div>
   			 </div>
   		{% endif %}
   		{% if mytitles %}
   			 <div id="profile-col">
   				<div style="margin: 10px 10px 30px 10px">

					<h1 align="center">My Titles</h1>

					{% for mytitle in mytitles %}
						<div style="margin: 10px 10px 30px 10px">
		    			<!-- Those needs to be clickable -->
						<a href="{{url_for('title_cfg', titleid = mytitle[0] )}}" class="" style= "font-size: 15px">
	         				<li>{{mytitle[1]}}</li>
	       				</a>
						<font size="2"><p><em>@{{mytitle[2]}}</em></p></font>

						</div>
					{% endfor %}
					</div>
	    		</div>
	    	</div>
	    {% endif %}
		</div>
</div>
<br>
{% endblock %}