<!DOCTYPE html>
<html>
<head>
	<title>
		Profile
	</title>

	<!-- to do: Those needs to be added locally -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- to do: Needs to get from style.css -->
	<style>
		/* hover animation ***/
		img:hover{
			transition:0.8s linear;
			transform:scale(1.5);
		}
		/* used for profile page */
		#profile-col{
			display: block;
			position: relative;
			width: relative;
			margin: 10px 10px 10px 10px;
			background-color: white;
			border-radius: 10%;
			border: 1px solid #FF7F00;
			z-index: 10;
		}
	</style>
</head>
<body style="background-image: url('https://static.vecteezy.com/system/resources/premium_previews/000/057/904/non_2x/cartoon-bee-vector-pack.jpg')">
	<!-- Need a bar which will be placed top of the page and will contain
	icons such as home and settings-->
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row" >
			<div class="col-md-3" >
				<div id="profile-col" >
					<div style="margin: 10px 10px 30px 10px" align="center">
						<br>
						<img src="V668FhCe.jpeg" class=" img-responsive img-rounded"
						height="150px" width= "150px"/>
						<font size="5"><b>Full name</b></font>
						<p><em>@</em><em>Username</em></p>
						<p>Description of the user</p>
					</div>
				</div>

				<div id="profile-col" >
					<div style="margin: 10px 10px 30px 10px">
						<h1 align="center">Hot Titles</h1>
						<ol>
							<!-- Those needs to be clickable -->
							<li>beeHive is coming soon</li>
							<li>garbage title</li>
							<li>troll title</li>
						</ol>
					</div>
				</div>

			</div>

			<div class="col-md-6">

				<!-- This is for sending post -->
				<div id="profile-col">
					<div style="margin: 10px 10px 30px 10px">
						<br>
						<div style=display:inline-block>
							<img src="V668FhCe.jpeg" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>
							<font size="5"><b>Full name</b></font>
							<p><em>@</em><em>username</em></p>
						</div>
						<br>
						<div class="form-group" align="center">
		    				<input type="text" placeholder="What to write today hmm..." class="form-control">

		    			</div>

		    			<div>
							<button class="pull-right btn-success btn" onclick="#">Send a post</button>
		    			</div>
		    			<br>
					</div>
				</div>
    			<!-- end of the sending post part-->
				<br>
    			<!-- This is one post -->
    			<div id="profile-col">
    				<div style="margin: 10px 10px 30px 10px">
    					<br>
						<div style=display:inline-block>
							<img src="V668FhCe.jpeg" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>
							<font size="5"><b>Full name</b></font>
							<p><em>@</em><em>Username</em></p>
						</div>

						<div>
		    				<p>Lorem ipsum </p>
		    			</div>

		    			<div>
		    				<!-- This part will have icons in it such as like icon -->
		    			</div>
		    			<br>
    				</div>
    			 </div>
				 <!-- end of the post -->

				 <!-- This is one post -->
    			<div id="profile-col">
    				<div style="margin: 10px 10px 30px 10px">
    					<br>
						<div style=display:inline-block>
							<img src="V668FhCe.jpeg" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>
							<font size="5"><b>Full name</b></font>
							<p><em>@</em><em>Username</em></p>
						</div>

						<div>
		    				<p>Garbage post asdasfasdaasfasdaasdasdfasdfasd
		    				asfasfasdasdfasfasfasdasfasfasf
		    				asdfafsasfasfasfsafasfasfasf </p>
		    			</div>
		    			<div>
		    				<!-- This part will have icons in it such as like icon -->
		    			</div>
		    			<br>
    				</div>
    			 </div>
				 <!-- end of the post -->



			</div>

			<div class="col-md-3">
				<div id="profile-col">
    				<div style="margin: 10px 10px 30px 10px">
    					<h1 align="center">Lectures</h1>
							<ol>
								<!-- Those needs to be clickable -->
								<li>10078</li>
								<li>10932</li>
								<li>20321</li>
								<li>10311</li>
							</ol>
    				</div>
    			 </div>
    			 <div id="profile-col">
    				<div style="margin: 10px 10px 30px 10px">
    					<h1 align="center">Groups</h1>

						<!-- This is one gruop -->
						<!-- Needs to be clickable -->
						<div style=display:inline-block>
							<img src="V668FhCe.jpeg" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>
							<font size="3"><b>Group name</b></font>
							<p><em>@</em><em>admin</em></p>
						</div>
						<div>
		    				<p>Description of the group </p>
		    			</div>
		    			<!-- end of one gruop -->

		    			<!-- This is one gruop -->
		    			<!-- Needs to be clickable -->
						<div style=display:inline-block>
							<img src="V668FhCe.jpeg" class=" img-responsive img-rounded" height="50px" width= "50px"/>
						</div>
						<div style=display:inline-block>
							<font size="3"><b>Group name</b></font>
							<p><em>@</em><em>admin</em></p>
						</div>
						<div>
		    				<p>Garbage text asfasfasdasdasda </p>
		    			</div>
		    			<!-- end of one gruop -->
    				</div>
    			 </div>
			</div>
		</div>
	</div>
	<br>
</body>
</html>