{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block style %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">{% endblock %}
{% block navbarlogin %}
<div class="container">
    <div class="navbar-left">
	   	<a class="navbar-brand" href="{{url_for('site.profile_page')}}"><span class="glyphicon glyphicon-home"></span></a>
	   	<a class="navbar-brand" href="{{url_for('site.search')}}"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    <div class="navbar-default">
	   	<a class="navbar-brand" href="{{url_for('site.classes')}}" style="margin-left: 50px"><span class="glyphicon glyphicon-book"></span> Lectures</a>
	   	<a class="navbar-brand" href="{{url_for('site.student_branches')}}"><span class="glyphicon glyphicon-send"></span> Student Branches</a>
	   	<a class="navbar-brand" href="{{url_for('site.faculty')}}"><span class="glyphicon glyphicon-briefcase"></span> Departments</a>
	   	<a class="navbar-brand" href="{{url_for('lostfound_page')}}"><span class="glyphicon glyphicon-sort"></span> Lost/Found</a>
    </div>
   	<div class="navbar-right">
	   	<a class="navbar-brand" href="{{url_for('settings_page')}}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
	   	<a class="navbar-brand" href="{{url_for('logout')}}"><span class="glyphicon glyphicon-off"></span> Log out</a>
	</div>
</div>
{% endblock %}
{% block content %}

<div class="container">
	<div class="row" >
		<div class="col-md-6" >
			<!-- This is for searching users -->
			<div style="margin: 10px 30px 60px 10px">
				<br>
	   			<form action="" method="post">
	   				<div class="form-group" align="center">
	    				<input type="text" name="search-user" placeholder="Enter the username that you want to search..." class="form-control" required autofocus>
	    			</div>
					<div class="pull-right">
	    				<!-- This part will have icons in it such as like icon -->
	    				<button class="glyphicon glyphicon-search pull-right btn btn-success"
						type="submit" name="action" value="searchUser"> Search User</button>
	    			</div>
	   			</form>
			</div>
			{% if foundUser %}
			<div id="profile-col" >
				<div style="margin: 10px 10px 30px 10px" align="center">
					<br>
					<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded"
					height="150px" width= "150px"/>
					<font size="5"><b></b></font>
					<form action="" method="post">
		    			<p>{{ foundUser[0][0]}}</p>
		    			<div class="form-group" align="center">
		    				<input type = "radio" name="foundUser" value="{{foundUser[0][1]}}" /> <p><em>@{{ foundUser[0][1]}}</em></p>
		    			</div>
						<p>Description of the user</p>
						<button class="glyphicon glyphicon-plus btn btn-success"
						type="submit" name="action" value="follow"> Follow</button>
					</form>
				</div>
			</div>
			{% elif message %}
				<font size="5"><p>{{message}}</p></font>
			{% else %}
			<font size="5"><p>User is not found.</p></font>
			{% endif %}

		</div>

		<div class="col-md-6" >
			<div style="margin: 10px 30px 40px 10px">
				<br>
	   			<form action="" method="post">
	   				<div class="form-group" align="center">
	    				<input type="text" name="search-content" placeholder="Enter the content that you want to search..." class="form-control" required autofocus>
	    			</div>
					<div class="pull-right">
	    				<!-- This part will have icons in it such as like icon -->
	    				<button class="glyphicon glyphicon-search pull-right btn btn-success"
						type="submit" name="action" value="searchPost"> Search Post</button>
	    			</div>
	   			</form>

				<div style="margin: 60px 0px 0px 0px">
					{% if results %}
					<div id="profile-col">
						<div style="margin: 10px 30px 40px 10px">
							{% for result in results %}
							<br>
							<div style=display:inline-block>
								<img src="http://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png" class=" img-responsive img-rounded" height="50px" width= "50px"/>
							</div>
							<div style=display:inline-block>
								<p><em>@{{ result[1] }}</em></p>
							</div>

							<div>
			    				<pre>{{ result[2] }} </pre>
			    			</div>

			    			<div class="pull-right">
			    				<!-- This part will have icons in it such as like icon -->
			    				<button class="glyphicon glyphicon-heart btn"
								type="submit" name="action" value="likePressed" style= "margin-right: 10px"> {{ result[3] }}</button>
			    				<a href="{{url_for('site.post_cfg', postid = result[0])}}" class="btn-info btn" style= "font-size: 0px">
		         						<span class="glyphicon glyphicon-tasks"></span>
		       					</a>

			    			</div>
			    			<br>
			    			{% endfor %}
			    		</div>
	    			</div>
	    			{% else %}
					<font size="5"><p>Post is not found.</p></font>
					{% endif %}
	    		</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}