{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block style %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">{% endblock %}
{% block navbarlogin %}
<div class="container">
    <div class="navbar-left">
	   	<a class="navbar-brand" href="{{url_for('profile_page')}}"><span class="glyphicon glyphicon-home"></span></a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-envelope"></span></a>
	   	<a class="navbar-brand" href="{{url_for('search')}}"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    <div class="navbar-default">
	   	<a class="navbar-brand" href="{{url_for('classes')}}" style="margin-left: 50px"><span class="glyphicon glyphicon-book"></span> Lectures</a>
	   	<a class="navbar-brand" href="{{url_for('student_branches')}}"><span class="glyphicon glyphicon-send"></span> Student Branch(es)</a>
	   	<a class="navbar-brand" href="{{url_for('department_page')}}"><span class="glyphicon glyphicon-briefcase"></span> Department(s)</a>
    </div>
   	<div class="navbar-right">
	   	<a class="navbar-brand" href="{{url_for('settings_page')}}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
	   	<a class="navbar-brand" href="{{url_for('home_page')}}"><span class="glyphicon glyphicon-off"></span> Log out</a>
	</div>
</div>
{% endblock %}
{% block content %}

<div class="container">
	<div class="row" >
		<div class="col-md-6" >
			<!-- This is for searching users -->
		</div>

		<div class="col-md-6" >
			<div style="margin: 10px 30px 40px 10px">
				<br>
	   			<form action="" method="post">
	   				<div class="form-group" align="center">
	    				<input type="text" name="search-content" placeholder="Enter the content that you want to search..." class="form-control" required autofocus>
	    			</div>
					<div class="pull-right">
	    				<!-- This part will have icons in it such as like icon -->
	    				<button class="glyphicon glyphicon-search pull-right btn btn-success"
						type="submit" name="action" value="searchPost"> Search Post</button>
	    			</div>
	   			</form>

				<div style="margin: 60px 0px 0px 0px">
					<div id="profile-col">
						<div style="margin: 10px 30px 40px 10px">
							{% if result %}
							<br>
							<div style=display:inline-block>
								<img src="https://www.percona.com/live/data-performance-conference-2016/sites/percona.com.live.data-performance-conference-2016/themes/pl2015/img/unknown-speaker.gif" class=" img-responsive img-rounded" height="50px" width= "50px"/>
							</div>
							<div style=display:inline-block>
								<p><em>@{{ result[0][1] }}</em></p>
							</div>

							<div>
			    				<pre>{{ result[0][2] }} </pre>
			    			</div>

			    			<div class="pull-right">
			    				<!-- This part will have icons in it such as like icon -->
			    				<button class="glyphicon glyphicon-heart btn"
								type="submit" name="action" value="likePressed" style= "margin-right: 10px"> {{ result[0][3] }}</button>
			    				<a href="{{url_for('post_cfg', postid = result[0][0])}}" class="btn-info btn" style= "font-size: 0px">
		         						<span class="glyphicon glyphicon-tasks"></span>
		       					</a>

			    			</div>
			    			<br>
			    			{% else %}
							<font size="5"><p>Post is not found.</p></font>
							{% endif %}
			    		</div>
	    			</div>
	    		</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}