{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block style %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">{% endblock %}
{% block navbarlogin %}
<div class="container">
    <div class="navbar-left">
	   	<a class="navbar-brand" href="{{url_for('profile_page')}}"><span class="glyphicon glyphicon-home"></span></a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-envelope"></span></a>
	   	<a class="navbar-brand" href="{{url_for('search')}}"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    <div class="navbar-default">
	   	<a class="navbar-brand" href="{{url_for('classes')}}" style="margin-left: 50px"><span class="glyphicon glyphicon-book"></span> Lectures</a>
	   	<a class="navbar-brand" href="{{url_for('site.student_branches')}}"><span class="glyphicon glyphicon-send"></span> Student Branch(es)</a>
	   	<a class="navbar-brand" href="{{url_for('faculty')}}"><span class="glyphicon glyphicon-briefcase"></span> Department(s)</a>
    </div>
   	<div class="navbar-right">
	   	<a class="navbar-brand" href="{{url_for('settings_page')}}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
	   	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
	   	<a class="navbar-brand" href="{{url_for('home_page')}}"><span class="glyphicon glyphicon-off"></span> Log out</a>
	</div>
</div>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2" >

		</div>
		<div class="col-md-8">
			<h1 align="center">Search</h1>

			<div style="margin: 20px 20px 20px 20px" align="center">
				{% if results %}
				<ol>
					{% for result in results %}
					<li>{{ result[1] }}&nbsp;&nbsp;&nbsp;&nbsp; {{ result[2] }}</li>
					{% endfor %}
				 </ol>
				{% endif %}
				</div>
		</div>
		<div class="col-md-2">

		</div>
	</div>
</div>

{% endblock %}
