{% extends "layout.html" %}
{% block title %}Sign up{% endblock %}
{% block navbarlogin %}
		<div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign up</a>
          </form>
        </div>
{% endblock %}
{% block content %}
      <div class="container">

      <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Join BeeHive today!</h2>

        <label for="inputNameSurname" class="sr-only">Name and surname</label>
        <input type="text" name="inputNameSurname" class="form-control" placeholder="Name and surname" required autofocus>

		<label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="inputUsername" class="form-control" placeholder="Username" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="agreement" required> You agree to BeeHive's <a href="{{ url_for('privacy_policy')}}">Terms of Service and Privacy Policy</a> by signing up.
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>

    </div> <!-- /container -->
{% endblock %}