{% extends "layout.html" %}
{% block title %}Sign in{% endblock %}
{% block navbarlogin %}
		<div id="navbar" class="navbar-collapse collapse">
        </div>
{% endblock %}
{% block content %}
      <div class="container">

      <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Sign in</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}